#chart-tooltip {
    padding: 0.5em;
    position : fixed;
    background-color : lightgrey;
    z-index : 1000;

    .value {
        font-weight: bold;
    }

    .low, .high {
        color: red;
        font-weight: bold;
    }
    .unknown {
        font-weight: bold;
    }
    .normal {
        display: none;
    }

    &.normal {
        border: 3px solid green;
    }
    &.low, &.high {
        border: 3px solid red;
    }
    &.unknown {
        border: 3px solid blue;
    }
}