.group_heading {
    display: flex;
    align-items: baseline;

    h3 {
        padding-left: 1em;
    }
}

.results_grid {
    display: grid;
    grid-template-columns: auto auto auto;

    div:nth-child(2),
    div:nth-child(3) {
        // background-color: red;
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    div:nth-child(6n + 4),
    div:nth-child(6n + 5),
    div:nth-child(6n + 6) {
        background-color: #f8f6ff;
    }
}

.title {
    text-align: right;
    padding-right: 1em;
}

.value {
    min-width: 3em;
    display: inline-block;
    text-align: right;
    margin-right: 0.5em;
}

.units {
    color: grey;
    margin-right: 1em;
}

.latest_date {
    font-weight: bold;
}
