.container {
    padding: 0.5em;

    // background: rgb(217, 217, 255);

    > div {
        display: flex;
    }

    img {
        height: 1.5em;
        margin-right: 0.5em;
    }
}

.title {
    font-weight: bold;
    font-size: larger;
}
.status {
    margin-left: 1em;
}

.deleted {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}