.container {
    padding: 0.5em;

    // background: rgb(217, 217, 255);
}

.title {
    font-weight: bold;
    font-size: larger;
}
.status {
    margin-left: 1em;
}

.deleted {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}