.container {
    border: 1px solid grey;
    border-radius: 0.25em;

    padding: 0.5em;
    margin-bottom: 1em;

    :global(.hover-buttons) {
        display: none;
    }
    &:hover :global(.hover-buttons) {
        display: inherit;
    }
}