.tile {
    display: inline-block;

    padding: 0.5em;
    margin-top: 0.25em;
    margin-left: 0.75em;
    margin-bottom: 0.75em;

    background-color: rgb(247, 204, 126);
    border: 2px solid rgb(255, 115, 0);
}