.patientHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.name {
  font-size: x-large;
}

.summary {
  margin-left: 0.5em;
}

.patientHeader :global(.ms-SearchBox) {
  margin-left: 3em;
}