.icon.paragraph {
  background-image: url(/icons/bootstrap/text-paragraph.svg);
}

.icon.h1 {
  background-image: url(/icons/bootstrap/type-h1.svg);
}

.icon.h2 {
  background-image: url(/icons/bootstrap/type-h2.svg);
}

.icon.h3 {
  background-image: url(/icons/bootstrap/type-h3.svg);
}

.icon.h4 {
  background-image: url(/icons/bootstrap/type-h4.svg);
}

.icon.h5 {
  background-image: url(/icons/bootstrap/type-h5.svg);
}

.icon.h6 {
  background-image: url(/icons/bootstrap/type-h6.svg);
}

.icon.bullet-list,
.icon.bullet {
  background-image: url(/icons/bootstrap/list-ul.svg);
}

.icon.check-list,
.icon.check {
  background-image: url(/icons/bootstrap/square-check.svg);
}

.icon.numbered-list,
.icon.number {
  background-image: url(/icons/bootstrap/list-ol.svg);
}

.icon.quote {
  background-image: url(/icons/bootstrap/chat-square-quote.svg);
}

.icon.code {
  background-image: url(/icons/bootstrap/code.svg);
}

i.palette {
  background-image: url(/icons/bootstrap/palette.svg);
}

i.bucket {
  background-image: url(/icons/bootstrap/paint-bucket.svg);
}

i.bold {
  background-image: url(/icons/bootstrap/type-bold.svg);
}

i.italic {
  background-image: url(/icons/bootstrap/type-italic.svg);
}

i.clear {
  background-image: url(/icons/bootstrap/trash.svg);
}

i.code {
  background-image: url(/icons/bootstrap/code.svg);
}

i.underline {
  background-image: url(/icons/bootstrap/type-underline.svg);
}

i.strikethrough {
  background-image: url(/icons/bootstrap/type-strikethrough.svg);
}

i.subscript {
  background-image: url(/icons/bootstrap/type-subscript.svg);
}

i.superscript {
  background-image: url(/icons/bootstrap/type-superscript.svg);
}

i.link {
  background-image: url(/icons/bootstrap/link.svg);
}

i.horizontal-rule {
  background-image: url(/icons/bootstrap/horizontal-rule.svg);
}

.icon.plus {
  background-image: url(/icons/bootstrap/plus.svg);
}

.icon.dropdown-more {
  background-image: url(/icons/bootstrap/dropdown-more.svg);
}

.icon.font-color {
  background-image: url(/icons/bootstrap/font-color.svg);
}

.icon.bg-color {
  background-image: url(/icons/bootstrap/bg-color.svg);
}

i.image {
  background-image: url(/icons/bootstrap/file-image.svg);
}

i.table {
  background-image: url(/icons/bootstrap/table.svg);
}

i.poll {
  background-image: url(/icons/bootstrap/card-checklist.svg);
}

i.tweet {
  background-image: url(/icons/bootstrap/tweet.svg);
}

i.youtube {
  background-image: url(/icons/bootstrap/youtube.svg);
}

.icon.left-align,
i.left-align {
  background-image: url(/icons/bootstrap/text-left.svg);
}

i.center-align {
  background-image: url(/icons/bootstrap/text-center.svg);
}

i.right-align {
  background-image: url(/icons/bootstrap/text-right.svg);
}

i.justify-align {
  background-image: url(/icons/bootstrap/justify.svg);
}

i.indent {
  background-image: url(/icons/bootstrap/indent.svg);
}

i.markdown {
  background-image: url(/icons/bootstrap/markdown.svg);
}

i.outdent {
  background-image: url(/icons/bootstrap/outdent.svg);
}

i.undo {
  background-image: url(/icons/bootstrap/arrow-counterclockwise.svg);
}

i.redo {
  background-image: url(/icons/bootstrap/arrow-clockwise.svg);
}

i.sticky {
  background-image: url(/icons/bootstrap/sticky.svg);
}

i.mic {
  background-image: url(/icons/bootstrap/mic.svg);
}

i.import {
  background-image: url(/icons/bootstrap/upload.svg);
}

i.export {
  background-image: url(/icons/bootstrap/download.svg);
}

i.diagram-2 {
  background-image: url(/icons/bootstrap/diagram-2.svg);
}

i.equation {
  background-image: url(/icons/bootstrap/plus-slash-minus.svg);
}

i.gif {
  background-image: url(/icons/bootstrap/filetype-gif.svg);
}

i.copy {
  background-image: url(/icons/bootstrap/copy.svg);
}

i.success {
  background-image: url(/icons/bootstrap/success.svg);
}

