.container {
    display: flex;
    align-items: center;

    margin-bottom: 2em;

    img {
        height: 1.3em;
        margin-right: 0.2em;
    }

    > div {
        flex-grow: 1;
        margin-left: 0.5em;
        max-width: 30em;
    }
}