.item {
    padding-bottom: 1em;
    padding-top: 1em;
}

.date {
    white-space: nowrap;
}

.dateRow {
    position: sticky;
    top: 0;
    background: lightgoldenrodyellow;
    padding: 0.25em;
    border-top: 1px solid grey;
}

.group_title {
    font-weight: bold;
    margin-left: 1em;
}