.item {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
    padding-top: 1em;
}

.date {
    white-space: nowrap;
}

.dateRow {
    display: flex;
    align-items: center;

    .title {
        font-weight: bold;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.group_title {
    font-weight: bold;
}